html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: Open Sans;
    /*    color: #9ca4ab;*/
    /*    background: #edf0f5;*/
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'face';
    src: url('../fonts/notifr-facepack.eot');
    src: url('../fonts/notifr-facepack.svg') format('svg');
    src: url('../fonts/notifr-facepack.ttf') format('truetype');
    src: url('../fonts/notifr-facepack.woff') format('woff');
}

.title {
    background-color: #55acee;
    height: 160px;
}

p.texts {
    color: white;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    padding: 0 0 20px;
    margin: 0;
}

.notifr-logo {
    height: 80px;
    margin: auto;
    width: 60px;
    padding: 20px 0 0 0;
}

.notifr-logo .notifr-login-svg path {
    fill: #55acee;
}

.notifr-login-logo .notifr-svg path {
    fill: #55acee;
}

.notifr-logo .logo-svg path {
    fill: #55acee;
}

div.container {
    padding: 10px;
    clear: both;
    overflow: auto;
}

div.container .sub-container {
    height: auto;
    width: 30%;
    float: left;
    padding: 10px;
    margin: 10px;
}

div.sub-container .box {
    height: 50%;
    width: 100%;
    padding: 20px 10px;
}

.close-button {
    right: 10px;
    color: #55acee;
    position: absolute;
    cursor: pointer;
}

div.new-session {
    border: #dadada 1px dashed;
    display: inline-block;
    width: 20%;
    min-height: 200px;
    text-align: center;
    padding: 25px;
    margin: 20px;
    cursor: pointer;
}

form div.session-name {
    text-align: center;
    padding: 10px;
}

div.session-name .name-input {
    width: 100%;
    text-align: center;
    border: 0;
    color: #55acee;
    background: none;
    font: 600 16px/40px Open Sans, sans-serif;
}

div.session-name .name-input::-webkit-input-placeholder {
    color: #55acee;
}

div .details-textarea {
    width: 100%;
    text-align: center;
    background: none;
    border: none;
    font: 400 14px/24px Open Sans, sans-serif;
}

div .question-textarea.details-textarea {
    text-align: left;
}

div .question-textarea.details-textarea::-webkit-input-placeholder {
    color: rgba(136, 136, 136, 1);
}

div.new-session .add-button {
    padding: 15px;
    color: white;
    background-color: #55acee;
    border-radius: 5px;
}

div .add-button {
    cursor: pointer;
    color: #888;
    display: inline-block;
}

div.question-type {
    color: white;
    background-color: #55acee;
    border-radius: 5px;
    width: 50px;
    font-size: 26px;
    height: 50px;
    line-height: 48px;
    cursor: pointer;
}

.smile:before {
    content: "\f118";
    font-family: FontAwesome;
}

.text:before {
    content: "\f27a";
    font-family: FontAwesome;
}

footer {
    text-align: center;
}

div.primary-button {
    padding: 14px 30px;
    cursor: pointer;
    background-color: #55acee;
    border-radius: 5px;
    font-family: open sans;
    color: white;
    display: inline-block;
    text-align: center;
    margin: auto;
    text-transform: capitalize;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

div.primary-button.alt {
    background-color: #dadada;
    color: #888;
}


/***** Media Queries *****/

@media screen and (max-width:768px) {
    div.container .sub-container {
        width: 100%;
        padding: 10px 0px;
        margin: 0px;
    }
    div.container .new-session {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    div.sub-container .box {
        padding: 10px 0px;
    }
}


/****** Print stylesheets ***/

@media print {
    body {
        column-count: 3;
        column-gap: 2em;
        column-rule: thin solid black;
    }
    .title {
        -webkit-print-color-adjust: exact !important;
    }
    div.container {
        -webkit-print-color-adjust: exact !important;
    }
    div.container .sub-container {
        -webkit-print-color-adjust: exact !important;
    }
    div.sub-container .box {
        -webkit-print-color-adjust: exact !important;
    }
}